@font-face {
  font-family: 'Roboto';
  src: url(./font.ttf) format('truetype');
}

html { height: 100%; overflow: hidden; margin: 0; }
body { height: 100%; margin: 0; font-family: 'Roboto'; }
body { background-color: #1449ae; background-size: cover; color: #fff; text-shadow: 0 0 5px rgba(255,255,255,1) }
body { background-image:radial-gradient(100% 93% at 0% 100%, #152455 0%, rgba(255, 0, 0, 0) 100%), linear-gradient(0deg, #24467a 0%, #2b597f 25%, #336b89 50%, #4590a0 100%) }
#root { position: relative; z-index: 2; width: 100%; height: 100%; overflow: hidden}
#root { -webkit-mask-image: -webkit-gradient(linear, left 90%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0))) }
.app { text-align: center; outline: none; }
.canvas-container { display: flex; align-items: center; justify-content: center; position: fixed; left: 0; top: 0; right: 0; bottom: 0; width: 100%; height: 100%; }
canvas { margin-top: -200px; width: 100%; }
svg > g:not(.no-filter) { fill: url(#gradient); filter: url(#bevel) }

.menus { position: absolute; top: 200px; left: 150px; }
.menus > .menu { zoom: 1.2; display: flex; position: relative; left: 0; transition: left 0.3s ease-in-out; }
.menus > .menu > .item { width: 150px; padding: 0; opacity: 0.5; position: relative; }
.menus > .menu > .item > .icon { margin-bottom: 5px; width: 80px; display: flex; justify-content: center;  }
.menus > .menu > .item > .label { width: 80px; display: flex; flex-wrap: nowrap; white-space: nowrap; justify-content: center; opacity: 0; visibility: hidden; transition: opacity 0.3s ease-in-out;}
.menus > .menu > .item.active > .label { opacity: 1; visibility: visible}
.menus > .menu > .item.active { opacity: 1; }
.menus > .menu > .item > .icon > svg { width: 80px; height: 80px; }

.menus > .menu > .item > .menu { height: 400px; visibility: hidden; opacity: 0; position: relative; top: -130px; transition: top 0.3s ease-in-out, opacity 0.3s ease-in; }
.menus > .menu > .item.active > .menu { opacity: 1; visibility: visible;  }

.menus > .menu > .item > .menu { text-align: left; padding-top: 30px; }
.menus > .menu > .item > .menu > .item { display: flex; position: relative; opacity: 0.5; line-height: 1.2; align-items: center; white-space: nowrap; padding: 10px 0; transition: padding-top 0.1s ease-in-out; }
.menus > .menu > .item > .menu > .item .description { font-size: 12px; display: none; }
.menus > .menu > .item > .menu > .item > .icon { flex-shrink: 0; flex-grow: 0; flex-basis: 80px; display: flex; align-items: center; justify-content: center; }
.menus > .menu > .item > .menu > .item > .icon > svg { width: 40px; height: 40px; transition: transform 0.3s ease-in-out; }

.menus > .menu > .item > .menu > .item.active { opacity: 1; padding: 130px 0 20px 0; }
.menus > .menu > .item.active > .menu > .item.active > .icon > svg { transform: scale(1.5); }
.menus > .menu > .item.active > .menu > .item.active .description { display: block; }
